.transactions {
    padding: 2%;
    background-color: var(--whiteColor);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transactions h3 {
    color: var(--primaryColor);
    margin-bottom: 1rem;
}

.transaction-list {
    list-style-type: none;
    padding: 0;
}

.transaction-list li {
    padding: 10px;
    border-bottom: 1px solid var(--greyColor);
    margin-bottom: 10px;
}

:root{
    --primaryColor:rgb(215, 171, 24);
    --secondaryColor:rgb(217, 23, 123);
    --whiteColor:white;
    --blackColor:black;
    --darkGreyColor:rgba(79, 77, 77, 0.975);
    --greyColor:grey;




}
*{ 
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Open Sans',sans-serif;




